In [1]:
import graph, parse_issues, process_appearances, scrape, visualization
import pandas as pd

In [2]:
# titles = [{"title": "X-Men Vol 1", "first_issue": 94, "last_issue": 96}]
# issues = scrape.build_full_list_of_issues(titles)

In [3]:
# table = parse_issues.build_full_table(issues)
# table

In [4]:
table = pd.read_csv("../data/table_of_appearances.csv")
table.iloc[:5,:5]

   character name X-Men Vol 1 94 X-Men Vol 1 95 X-Men Vol 1 96 X-Men Vol 1 97
0           X-Men    Appearances    Appearances    Appearances    Appearances
1           X-Men    Appearances    Appearances    Appearances    Appearances
2           X-Men    Appearances    Appearances    Appearances    Appearances
3           X-Men    Appearances    Appearances    Appearances    Appearances
4  Piotr Rasputin    Appearances    Appearances    Appearances    Appearances

In [5]:
char_app_count = process_appearances.count_types_of_appearances(table)
char_app_count

,character name,Appearances,Minor Appearances,Mentions,Actual Appearances,Total Entries
0,X-Men,196,13,56,209,265
1,X-Men,196,14,55,210,265
2,X-Men,195,14,56,209,265
3,X-Men,195,15,55,210,265
9,Ororo Munroe,184,15,10,199,209
...,...,...,...,...,...,...
986,Connecticut State Police,0,0,1,0,1
221,Priscilla Ironwood,0,0,1,0,1
983,Katherine Pryde (Earth-8280),0,1,1,1,2
982,X-Men (Earth-8280),0,0,2,0,2
1061,Max Eisenhardt (Earth-87050),0,1,0,1,1

In [6]:
table = process_appearances.drop_less_relevant_characters(table, char_app_count, "Appearances", 20)
table.iloc[:,:5]

d:\Library\Documents\GitHub\web-of-marvel-characters\utils_\process_appearances.py:19: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  result = dataframe_to_modify[key_df[column] >= threshold]

,character name,X-Men Vol 1 94,X-Men Vol 1 95,X-Men Vol 1 96,X-Men Vol 1 97,X-Men Vol 1 98,X-Men Vol 1 99,X-Men Vol 1 100,X-Men Vol 1 101,X-Men Vol 1 102,...,X-Force Vol 1 6,X-Force Vol 1 7,X-Force Vol 1 8,X-Force Vol 1 9,X-Force Vol 1 10,X-Force Vol 1 11,X-Force Vol 1 12,X-Force Vol 1 13,X-Force Vol 1 14,X-Force Vol 1 15
0,X-Men,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,...,NaN,NaN,Mentions,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,X-Men,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,...,NaN,NaN,Mentions,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,X-Men,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,...,NaN,NaN,Mentions,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,X-Men,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,...,NaN,NaN,Mentions,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Piotr Rasputin,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
table.reset_index(drop=True, inplace=True)

In [9]:
table.iloc[:,:5]

,character name,X-Men Vol 1 94,X-Men Vol 1 95,X-Men Vol 1 96,X-Men Vol 1 97,X-Men Vol 1 98,X-Men Vol 1 99,X-Men Vol 1 100,X-Men Vol 1 101,X-Men Vol 1 102,...,X-Force Vol 1 6,X-Force Vol 1 7,X-Force Vol 1 8,X-Force Vol 1 9,X-Force Vol 1 10,X-Force Vol 1 11,X-Force Vol 1 12,X-Force Vol 1 13,X-Force Vol 1 14,X-Force Vol 1 15
0,X-Men,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,...,NaN,NaN,Mentions,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,X-Men,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,...,NaN,NaN,Mentions,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,X-Men,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,...,NaN,NaN,Mentions,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,X-Men,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,...,NaN,NaN,Mentions,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Piotr Rasputin,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,Appearances,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,Horsemen of Apocalypse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,Opal Tanaka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,Meggan Puceanu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,Nigel Frobisher,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,Opul Lun Sat-Yr-Nin (Earth-794),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
weights = graph.build_weights_df(table)
weights.iloc[:10,:11]

,character name,0,1,2,3,4,5,6,7,8,...,168,169,170,171,172,173,174,175,176,177
0,X-Men,19652,19652,19572,19572,15524,10812,11720,6732,16328,...,100,100,100,4,4,20,100,400,20,0
1,X-Men,19652,19656,19572,19576,15528,10812,11720,6732,16332,...,120,120,120,4,4,20,100,400,20,0
2,X-Men,19572,19572,19556,19556,15508,10796,11704,6732,16328,...,100,100,100,4,4,20,100,400,20,0
3,X-Men,19572,19576,19556,19560,15512,10796,11704,6732,16332,...,120,120,120,4,4,20,100,400,20,0
4,Piotr Rasputin,15524,15528,15508,15512,16188,9984,11656,5416,13884,...,120,120,120,0,0,0,100,380,20,0

In [11]:
edge_list = graph.build_edge_list(weights)
edge_list.head()

  source          target  weight
0  X-Men           X-Men   19652
1  X-Men           X-Men   19572
2  X-Men           X-Men   19572
3  X-Men  Piotr Rasputin   15524
4  X-Men   Scott Summers   10812

In [12]:
G = visualization.make_nx_graph(edge_list)

In [13]:
visualization.make_graph_html(G, char_app_count, "test_graph.html")

In [14]:
import community as community_louvain

In [15]:
communities = community_louvain.best_partition(G)

In [16]:
communities

{'X-Men': 2,
 'Piotr Rasputin': 2,
 'Scott Summers': 1,
 'Kurt Wagner': 3,
 'Alexander Summers': 2,
 'James Howlett': 2,
 'Ororo Munroe': 2,
 'Jean Grey': 1,
 'Warren Worthington III': 1,
 'Charles Xavier': 2,
 'Sean Cassidy': 2,
 'Robert Drake': 1,
 'Lorna Dane': 2,
 'Henry McCoy': 1,
 'Moira MacTaggert (Earth-TRN748)': 2,
 'Lilandra Neramani': 2,
 'Jimaine Szardos': 2,
 'Peter Corbeau': 2,
 'Thomas Cassidy': 2,
 'Hellfire Club': 0,
 'Phoenix Force': 2,
 'Cain Marko': 2,
 'Mercedes Knight': 2,
 'Max Eisenhardt': 0,
 'James Madrox': 2,
 'John Grey': 2,
 'Elaine Grey': 2,
 'Starjammers': 2,
 "Ch'od": 2,
 "Cr'reee": 2,
 'Christopher Summers': 2,
 'Hepzibah': 2,
 'Raza Longknife': 2,
 'Kallark': 2,
 'Mariko Yashida': 2,
 'Arcade': 2,
 'Miss Locke': 2,
 'Jason Wyngarde': 2,
 'Brian Braddock': 3,
 'Illyana Rasputina': 0,
 'Dai Thomas': 3,
 'Katherine Pryde': 3,
 'Emma Frost': 0,
 'Sebastian Shaw': 0,
 'Harold Leland': 2,
 'Donald Pierce': 2,
 'Alison Blaire': 2,
 'Sage': 0,
 'Wade Cole': 2,
 'Angelo Macon': 2,
 'Murray Reese': 2,
 'New York City Police Department': 1,
 'Frederick Dukes': 1,
 'Stephanie Hunter': 0,
 'Katherine Pryde (Earth-811)': 3,
 'Rachel Summers (Earth-811)': 3,
 'Brotherhood of Evil Mutants': 1,
 'Raven DarkhÃ¶lme': 1,
 'Irene Adler': 1,
 'St. John Allerdyce': 1,
 'Dominikos Petrakis': 1,
 'Henry Gyrich': 1,
 'Aleytys Forrester': 2,
 'Theresa Cassidy': 1,
 'Caliban': 1,
 'Carol Danvers': 2,
 'Rogue (Anna Marie)': 2,
 "S'ym": 0,
 "Xi'an Coy Manh": 0,
 'Lockheed': 3,
 'New Mutants': 0,
 'Samuel Guthrie': 0,
 'Rahne Sinclair': 0,
 'Danielle Moonstar': 0,
 'Roberto Da Costa': 0,
 'Madelyne Pryor': 2,
 'Morlocks': 1,
 'Mark Hallett': 1,
 'Callisto': 2,
 'Plague': 1,
 'Masque': 1,
 'Valerie Cooper': 1,
 'Douglas Ramsey': 0,
 'Leech': 1,
 'Selene Gallio': 0,
 'Forge': 2,
 'Amara Aquilla': 0,
 'Warlock (Technarch)': 0,
 'Hellions': 0,
 'James Proudstar': 0,
 'Manuel de la Rocha': 0,
 'Lila Cheney': 0,
 'Freedom Force': 1,
 'Rita Wayword': 1,
 'Nathan Summers': 1,
 'Brightwind': 0,
 'Yuriko Oyama': 2,
 'Marauders': 2,
 'Alice MacAllister': 2,
 'John Greycrow': 2,
 'X-Factor': 1,
 'Elizabeth Braddock': 2,
 'Sharon Friedlander': 0,
 'Thomas Corsi': 0,
 'Victor Creed': 2,
 'Frank Bohannan': 1,
 'Louis Hamilton': 1,
 'Martin Fletcher': 1,
 'Gateway': 2,
 'Reavers': 2,
 'Bonebreaker': 2,
 'Right': 1,
 'Patricia Tilby': 1,
 'Cameron Hodge': 1,
 'Magistrates': 2,
 'David Moreau': 2,
 "N'astirh": 1,
 'Tam Anderson': 2,
 'En Sabah Nur': 1,
 'Prosh': 1,
 'Jubilation Lee': 2,
 'Eleanor Murch': 1,
 'Orphan-Maker (Peter)': 1,
 'Weird Happenings Organization': 3,
 'Alysande Stuart': 3,
 'Excalibur': 3,
 'Alistaire Stuart': 3,
 'Muir Island X-Men': 2,
 'David Haller': 2,
 'Guido Carosella': 2,
 'Charlotte Jones': 1,
 'Mutant Liberation Front': 1,
 'Remy LeBeau': 2,
 'Tabitha Smith': 1,
 'Julio Richter': 1,
 'Arthur Maddicks': 1,
 'Sally Blevins': 1,
 'Russell Collins': 1,
 'Vanessa Carlysle': 1,
 'Maria Callasantos': 1,
 'X-Force': 1,
 'Abraham Kieros': 1,
 'Autumn Rolfson': 1,
 'Horsemen of Apocalypse': 1,
 'Opal Tanaka': 1,
 'Meggan Puceanu': 3,
 'Nigel Frobisher': 3,
 'Opul Lun Sat-Yr-Nin (Earth-794)': 3}

In [17]:
import networkx as nx

In [20]:
from pyvis.network import Network

In [18]:
nx.set_node_attributes(G, communities, 'group')

In [21]:
com_net = Network(notebook = True, width="100%", height="100%", bgcolor='#222222', font_color='white')
com_net.from_nx(G)
com_net.show("mutant_communities.html")

In [24]:
pd.DataFrame(nx.degree(G))

                                   0    1
0                              X-Men  149
1                     Piotr Rasputin  147
2                      Scott Summers  147
3                        Kurt Wagner  147
4                  Alexander Summers  147
..                               ...  ...
143           Horsemen of Apocalypse  147
144                      Opal Tanaka  147
145                   Meggan Puceanu  147
146                  Nigel Frobisher  147
147  Opul Lun Sat-Yr-Nin (Earth-794)  147

[148 rows x 2 columns]